@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #001e4d;
    --text-color: rgb(248 249 250);
}

body {
    background-color: var(--bg-color) !important;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
}

.app {
    color: var(--text-color);
    padding-top: 30px;
}

.app h1 {
    border-bottom: 1px dashed #fff;
    padding-bottom: 1.5rem;
    /* font-size: 25px; */
}

.quiz h2 {
    padding: 1.2rem 0 5px 0;
    font-size: 1.2rem; 
    font-weight: 500;
}

.btn {
    text-align: left !important;
}

.btn:hover {
    color: rgb(33 37 41) !important;
}

.next {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    display: none;
}

.next-btn {
    padding: 6px 35px !important;
}